{% extends 'meetups\templetes\base\base.html'%}
{% load static %}

{% block title %} 
{{ meetup_title }}
{% endblock %}


{% block site_css %}
<link rel="stylesheet" href="{% static 'meetup-detail.css' %}">
{% endblock %}  

{% block main_heading %}
<h1>{{ meetup_title }}</h1>
{% endblock %}

{% block body %}

{% if meetup_found %}

<article>
    <img src="" alt="">
    <section id="location">
        <h2>Meetup Location</h2>
        <address> This meetups take place in  <span>LOCATION</span>(ADDRESS).</address>
    </section>
    <section id="details">
        <h2>What's this meetup is about??</h2>
        <p>{{ meetup_description }}</p>
        <footer>
            <p>Need More Details? <a href="">Please contact organizer</a> (BUT dn't spam us;-)).</p>
        </footer>
    </section>
    <section id="registration">
        <h2>Join US!</h2>
        FORM
    </section>

</article>
{% else %}
<article>
    <p>No Meetup Found...!</p>
    <div class="meetup-actions">
        <a  href="{% url 'index' %}" class="btn">Home</a>
    </div>
</article>

{% endif %}


{% endblock %}

